.dialog-pane .header-panel {
    -fx-background-color: black;
}

.button-hover {
    -fx-background-color: #00fd48;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.button-hover:hover {
    -fx-background-color: #00fd48;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.label-hover {
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.label-hover:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-text-fill: lime;
}

.root {
    -fx-background-color: black;
    -fx-font-family: "Courier New", monospace;
    -fx-font-weight: bold;
}

.black-background-label,
.label {
    -fx-background-color: black;
    -fx-text-fill: lime;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label-button {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-text-fill: lime;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field,
.text-area,
.list-view,
.list-cell {
    -fx-background-color: black;
    -fx-text-fill: lime;
    -fx-font-size: 14px;
    -fx-border-color: lime;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button {
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
}

.list-view {
    -fx-control-inner-background: black;
}

.list-cell {
    -fx-control-inner-background: black;
}


.button {
    -fx-background-color: lime;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: lime;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


.button:hover {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-border-color: lightgreen;
}

.button-delete {
    -fx-padding: 4px 6px;
}

.button-delete-all {
    -fx-text-fill: #7D1414 !important;
}

.button-delete-all:hover {
    -fx-text-fill: #ff0000 !important;
}

.button-delete:hover {
    -fx-text-fill: red !important;
}

.button-export {
    -fx-padding: 4px 6px;
}


.list-view {
    -fx-control-inner-background: black;
}

.list-cell {
    -fx-control-inner-background: black;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}



.table-view {
    -fx-base: black;
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-table-cell-border-color: lime;
    -fx-text-fill: lime;
    -fx-font-size: 14px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: lime;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.table-row-cell:filled {
    -fx-border-color: lime;
    -fx-border-width: 1 0 1 0;
}

.table-row-cell:filled .table-cell {
    -fx-border-color: lime;
    -fx-border-width: 0 1 0 1;
}

.table-row-cell:empty {
    -fx-border-width: 0;
    -fx-background-color: black;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: lime;
    -fx-background-insets: 2;
    -fx-background-radius: 5em;
}

.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: lime;
}

#recentEventsLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.list-cell .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


.text-area {
    text-area-background: black ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.alertDialog {
    -fx-min-width: 400px;
    -fx-min-height: 200px;
}

.title-label-overview {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}